* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

body {
    min-block-size: 100%;
}

.divCard {
    display: flex;
    justify-content: center;
}

.backColor {
    background-color: rgb(248, 244, 244);
}

.button {
    margin-bottom: 150px;
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 1rem 0;
    background-color: rgb(41, 41, 41);
    justify-content: center;
    gap: 2rem;
}

footer img {
    width: 35px;
}
