
footer {
    position: relative;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 1rem 0;
    background-color:map-get($colors, mainColor );
    justify-content: center;
    gap: 2rem;
    img {
    width: 35px;
}
}
