

header{
    .title {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
    .logo {
        width: 60px;
    }
    .nav {
    background-color: map-get($colors , amarelo );
    a {
        color: rgb(0, 0, 0);
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
    }
}
}
