* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

body {
    height: 100vh;
    position: relative;
}

header{
    
    .title {
    font-family: 'Times New Roman', Times, serif;
}
    .logo {
        width: 110px;
    }
    .nav {
    background-color: rgb(255, 165, 31);
    a {
        color: rgb(0, 0, 0);
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
    }
}
}



main {
    h2 {
        color: white;
    }
    h5 {
        color: white;
    }
    .burgerNames {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
}
    .burgerPrize {
    font-family:'Times New Roman', Times, serif;
}
}

.backColor {
    background-color:rgb(22, 22, 22);
}

    .textarea {
    height: 230px;
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 1rem 0;
    background-color: rgb(255, 165, 31);
    justify-content: center;
    gap: 2rem;
    img {
    width: 35px;
}
}

@media (max-width: 576px) {
    .map {
        height: 470px;
    }
    
}
