* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

@import "_header.scss";
@import "_products.scss";
@import "_footer.scss";

body {
    height: 100vh;
    position: relative;
}

main {
    h2 {
        color: white;
    }
    h5 {
        color: white;
    }
    .burgerNames {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
}
    .burgerPrize {
    font-family:'Times New Roman', Times, serif;
}
}

.backColor {
    background-color:rgb(22, 22, 22);
}

    .textarea {
    height: 230px;
}

.form-label {
    color:  rgb(255, 165, 31);
}

h3 {
    color:  rgb(255, 165, 31);
    font-family: 'Times New Roman', Times, serif
}

@media (max-width: 576px) {
    .map {
        height: 470px;
        margin-bottom: 15px;
    }
    
}
