* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    block-size: 100%;
}


@mixin height ($height){
    height: $height;
}

@import "_colors.scss";
@import "_header.scss";
@import "_products.scss";
@import "_footer.scss";

body {
    @include height(100vh);
    position: relative;
}

main {
    h2 {
        color: map-get($colors,white );
    }
    h5 {
        color: map-get($colors,white );
    }
    .burgerNames {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    }
    .burgerPrize {
    font-family:'Times New Roman', Times, serif;
}
}

.backColor {
    background-color: map-get($colors , fondo )
}

    .textarea {
        @include height (230px);
}

.form-label {
    color: map-get($colors , amarelo )
}

h3 {
    color: map-get($colors , amarelo );
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 576px) {
    .mapa {
        @include height (470px);
        margin-bottom: 15px;
    }
    
}
